PORT=5000
NODE_ENV=development
MONGODB_URI= add_your_mongodb_connection_string_here
JWT_SECRET=super_secret_jwt_key_blinkit_clone_2026
FRONTEND_URL=http://localhost:5173

# Nodemailer SMTP Email Credentials (Gmail App Password)
EMAIL_SERVICE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_16_digit_gmail_app_password
EMAIL_FROM="Blinkit Support" <your_gmail_address@gmail.com>

# Razorpay Payment Gateway Credentials
RAZORPAY_KEY_ID=add_your_Razorpay_Key_ID_here
RAZORPAY_KEY_SECRET=add_your_Razorpay_Key_Secret_here

# Cloudinary Storage Credentials
CLOUDINARY_CLOUD_NAME= Add_your_Cloudinary_Cloud_Name_here
CLOUDINARY_API_KEY=Add_your_Cloudinary_API_Key_here
CLOUDINARY_API_SECRET=Add_your_Cloudinary_API_Secret_here
