PORT=5000
NODE_ENV=development
MONGODB_URI=add_your_mongodb_connection_string_here
JWT_SECRET=super_secret_jwt_key_blinkit_clone_2026
FRONTEND_URL=http://localhost:5173

# Brevo Email HTTP API Credentials (for Password Reset OTP)
BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=your_verified_sender_email@example.com
BREVO_SENDER_NAME=BlinkitClone

# Razorpay Payment Gateway Credentials
RAZORPAY_KEY_ID=add_your_Razorpay_Key_ID_here
RAZORPAY_KEY_SECRET=add_your_Razorpay_Key_Secret_here

# Cloudinary Storage Credentials
CLOUDINARY_CLOUD_NAME=Add_your_Cloudinary_Cloud_Name_here
CLOUDINARY_API_KEY=Add_your_Cloudinary_API_Key_here
CLOUDINARY_API_SECRET=Add_your_Cloudinary_API_Secret_here
